PbrTextureAsset(
  diffuse: Some("textures/ground/15/diffuse.png"),
  normal: Some("textures/ground/15/normal.png"),
  metallic: Some("textures/ground/15/metallic.png"),
  roughness: Some("textures/ground/15/roughness.png"),
  ao: Some("textures/ground/15/ao.png"),
  height: Some("textures/ground/15/height.png"),
  edge: Some("textures/ground/15/edge.png"),
)