PbrTextureAsset(
  diffuse: Some("textures/ground/13/diffuse.png"),
  normal: Some("textures/ground/13/normal.png"),
  metallic: Some("textures/ground/13/metallic.png"),
  roughness: Some("textures/ground/13/roughness.png"),
  ao: Some("textures/ground/13/ao.png"),
  height: Some("textures/ground/13/height.png"),
  edge: Some("textures/ground/13/edge.png"),
)