PbrTextureAsset(
  diffuse: Some("textures/ground/5/diffuse.png"),
  normal: Some("textures/ground/5/normal.png"),
  metallic: Some("textures/ground/5/metallic.png"),
  roughness: Some("textures/ground/5/roughness.png"),
  ao: Some("textures/ground/5/ao.png"),
  height: Some("textures/ground/5/height.png"),
  edge: Some("textures/ground/5/edge.png"),
)