PbrTextureAsset(
  diffuse: Some("textures/ground/12/diffuse.png"),
  normal: Some("textures/ground/12/normal.png"),
  metallic: Some("textures/ground/12/metallic.png"),
  roughness: Some("textures/ground/12/roughness.png"),
  ao: Some("textures/ground/12/ao.png"),
  height: Some("textures/ground/12/height.png"),
  edge: Some("textures/ground/12/edge.png"),
)