(
    version: 1,
    snarl: (
        nodes: {
            0: (
                value: Op(
                    kind: Fbm((
                        octaves: 2,
                        base_freq: 0.000125,
                        lacunarity: 2.0,
                        gain: 0.5,
                        amplitude: 1.0,
                        seed_salt: 5,
                    )),
                    alias: "",
                ),
                pos: (
                    x: 0.0,
                    y: 0.0,
                ),
                open: true,
            ),
            1: (
                value: Op(
                    kind: Fbm((
                        octaves: 2,
                        base_freq: 0.00014285714285714287,
                        lacunarity: 2.0,
                        gain: 0.5,
                        amplitude: 1.0,
                        seed_salt: 6,
                    )),
                    alias: "",
                ),
                pos: (
                    x: 0.0,
                    y: 150.0,
                ),
                open: true,
            ),
            2: (
                value: Op(
                    kind: Fbm((
                        octaves: 2,
                        base_freq: 0.00015384615384615385,
                        lacunarity: 2.0,
                        gain: 0.5,
                        amplitude: 1.0,
                        seed_salt: 7,
                    )),
                    alias: "",
                ),
                pos: (
                    x: 0.0,
                    y: 300.0,
                ),
                open: true,
            ),
            3: (
                value: Op(
                    kind: Fbm((
                        octaves: 2,
                        base_freq: 0.0002,
                        lacunarity: 2.0,
                        gain: 0.5,
                        amplitude: 1.0,
                        seed_salt: 8,
                    )),
                    alias: "",
                ),
                pos: (
                    x: 0.0,
                    y: 450.0,
                ),
                open: true,
            ),
            4: (
                value: Biome(
                    name: "Plains",
                    graph: (
                        nodes: {
                            0: (
                                value: Input(0),
                                pos: (
                                    x: 0.0,
                                    y: 0.0,
                                ),
                                open: true,
                            ),
                            1: (
                                value: Op(
                                    kind: Scale(25.0),
                                    alias: "",
                                ),
                                pos: (
                                    x: 220.0,
                                    y: 0.0,
                                ),
                                open: true,
                            ),
                            2: (
                                value: Op(
                                    kind: Fbm((
                                        octaves: 4,
                                        base_freq: 0.002,
                                        lacunarity: 2.0,
                                        gain: 0.5,
                                        amplitude: 30.0,
                                        seed_salt: 11,
                                    )),
                                    alias: "",
                                ),
                                pos: (
                                    x: 0.0,
                                    y: 140.0,
                                ),
                                open: true,
                            ),
                            3: (
                                value: Op(
                                    kind: Add,
                                    alias: "",
                                ),
                                pos: (
                                    x: 440.0,
                                    y: 0.0,
                                ),
                                open: true,
                            ),
                            4: (
                                value: Output,
                                pos: (
                                    x: 660.0,
                                    y: 0.0,
                                ),
                                open: true,
                            ),
                        },
                        wires: [
                            (
                                out_pin: (
                                    node: 2,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 3,
                                    input: 0,
                                ),
                            ),
                            (
                                out_pin: (
                                    node: 0,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 1,
                                    input: 0,
                                ),
                            ),
                            (
                                out_pin: (
                                    node: 1,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 3,
                                    input: 1,
                                ),
                            ),
                            (
                                out_pin: (
                                    node: 3,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 4,
                                    input: 0,
                                ),
                            ),
                        ],
                    ),
                ),
                pos: (
                    x: 340.0,
                    y: 0.0,
                ),
                open: true,
            ),
            5: (
                value: Biome(
                    name: "Mountains",
                    graph: (
                        nodes: {
                            0: (
                                value: Input(0),
                                pos: (
                                    x: 0.0,
                                    y: 0.0,
                                ),
                                open: true,
                            ),
                            1: (
                                value: Op(
                                    kind: Scale(220.0),
                                    alias: "",
                                ),
                                pos: (
                                    x: 220.0,
                                    y: 0.0,
                                ),
                                open: true,
                            ),
                            2: (
                                value: Op(
                                    kind: Fbm((
                                        octaves: 5,
                                        base_freq: 0.0007692307692307692,
                                        lacunarity: 2.0,
                                        gain: 0.5,
                                        amplitude: 1.0,
                                        seed_salt: 12,
                                    )),
                                    alias: "",
                                ),
                                pos: (
                                    x: 0.0,
                                    y: 140.0,
                                ),
                                open: true,
                            ),
                            3: (
                                value: Op(
                                    kind: Ridge(
                                        ridge: 0.9,
                                        amp_sum: 2.0,
                                    ),
                                    alias: "",
                                ),
                                pos: (
                                    x: 220.0,
                                    y: 140.0,
                                ),
                                open: true,
                            ),
                            4: (
                                value: Op(
                                    kind: Scale(620.0),
                                    alias: "",
                                ),
                                pos: (
                                    x: 440.0,
                                    y: 140.0,
                                ),
                                open: true,
                            ),
                            5: (
                                value: Op(
                                    kind: Add,
                                    alias: "",
                                ),
                                pos: (
                                    x: 660.0,
                                    y: 0.0,
                                ),
                                open: true,
                            ),
                            6: (
                                value: Op(
                                    kind: Offset(80.0),
                                    alias: "",
                                ),
                                pos: (
                                    x: 880.0,
                                    y: 0.0,
                                ),
                                open: true,
                            ),
                            7: (
                                value: Output,
                                pos: (
                                    x: 1100.0,
                                    y: 0.0,
                                ),
                                open: true,
                            ),
                        },
                        wires: [
                            (
                                out_pin: (
                                    node: 4,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 5,
                                    input: 0,
                                ),
                            ),
                            (
                                out_pin: (
                                    node: 5,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 6,
                                    input: 0,
                                ),
                            ),
                            (
                                out_pin: (
                                    node: 6,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 7,
                                    input: 0,
                                ),
                            ),
                            (
                                out_pin: (
                                    node: 1,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 5,
                                    input: 1,
                                ),
                            ),
                            (
                                out_pin: (
                                    node: 0,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 1,
                                    input: 0,
                                ),
                            ),
                            (
                                out_pin: (
                                    node: 2,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 3,
                                    input: 0,
                                ),
                            ),
                            (
                                out_pin: (
                                    node: 3,
                                    output: 0,
                                ),
                                in_pin: (
                                    node: 4,
                                    input: 0,
                                ),
                            ),
                        ],
                    ),
                ),
                pos: (
                    x: 340.0,
                    y: 320.0,
                ),
                open: true,
            ),
            6: (
                value: Op(
                    kind: Smoothstep(
                        edge0: 0.0,
                        edge1: 0.5,
                    ),
                    alias: "",
                ),
                pos: (
                    x: 340.0,
                    y: 620.0,
                ),
                open: true,
            ),
            7: (
                value: Op(
                    kind: Mix,
                    alias: "",
                ),
                pos: (
                    x: 700.0,
                    y: 160.0,
                ),
                open: true,
            ),
            8: (
                value: Output,
                pos: (
                    x: 980.0,
                    y: 160.0,
                ),
                open: true,
            ),
        },
        wires: [
            (
                out_pin: (
                    node: 2,
                    output: 0,
                ),
                in_pin: (
                    node: 5,
                    input: 2,
                ),
            ),
            (
                out_pin: (
                    node: 0,
                    output: 0,
                ),
                in_pin: (
                    node: 4,
                    input: 0,
                ),
            ),
            (
                out_pin: (
                    node: 2,
                    output: 0,
                ),
                in_pin: (
                    node: 4,
                    input: 2,
                ),
            ),
            (
                out_pin: (
                    node: 7,
                    output: 0,
                ),
                in_pin: (
                    node: 8,
                    input: 0,
                ),
            ),
            (
                out_pin: (
                    node: 1,
                    output: 0,
                ),
                in_pin: (
                    node: 5,
                    input: 1,
                ),
            ),
            (
                out_pin: (
                    node: 1,
                    output: 0,
                ),
                in_pin: (
                    node: 4,
                    input: 1,
                ),
            ),
            (
                out_pin: (
                    node: 0,
                    output: 0,
                ),
                in_pin: (
                    node: 5,
                    input: 0,
                ),
            ),
            (
                out_pin: (
                    node: 3,
                    output: 0,
                ),
                in_pin: (
                    node: 5,
                    input: 3,
                ),
            ),
            (
                out_pin: (
                    node: 4,
                    output: 0,
                ),
                in_pin: (
                    node: 7,
                    input: 0,
                ),
            ),
            (
                out_pin: (
                    node: 5,
                    output: 0,
                ),
                in_pin: (
                    node: 7,
                    input: 1,
                ),
            ),
            (
                out_pin: (
                    node: 6,
                    output: 0,
                ),
                in_pin: (
                    node: 7,
                    input: 2,
                ),
            ),
            (
                out_pin: (
                    node: 0,
                    output: 0,
                ),
                in_pin: (
                    node: 6,
                    input: 0,
                ),
            ),
            (
                out_pin: (
                    node: 3,
                    output: 0,
                ),
                in_pin: (
                    node: 4,
                    input: 3,
                ),
            ),
        ],
    ),
    view: (
        nodes: {},
        nav: [],
        panels: [],
        popped: [],
    ),
)